/* chapter 1 is styling for the desktop
    1.1- desktop Hero section...from line 39 to line 127
    1.2 - heritage section
    1.3 - leaders section
*/

/* general styling that is applied to the about page */
*{
    font-family: 'Spartan', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.about-us-banner{
    position: absolute;
    top: 165px;
    left: -100px;
    height: 4vh;
    width: 26vw;
    transform: rotate(90deg);
}
.about-us-banner p{
    text-transform: uppercase;
    letter-spacing: 15px;
    color: #C8CCD8;
    font-size: 14px;
    padding-left: 151px;
    padding-top: 4px;
    font-family: Spartan;
}
.about-us-banner hr{
    position: absolute;
    top: 10px;
    height: 1px;
    width: 7rem;
}

/* CHAPTER 1 - DESKTOP SECTION */

/* 1.1-----Hero Section */
.hero-section{
    margin-top: 9.5em;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
}
.hero-image-section{
    width: 70vw;
    height: 110vh;
    display: flex;
    justify-content: center;
}
.hero-image{
    position: absolute;
    width: 47vw;
    height: 110vh;
    background-color: #25212173;
    background-image: url(../assets/about/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.hero-section-about{
    position: absolute;
    width: 48vw;
    height: 30vh;
    left: 44%;
    top: 38%;
    z-index: 50;
}
.hero-section-about h1{
    padding-top: 0.18em;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12rem;
    line-height: 1em;
    text-align: right;
    letter-spacing: -5px;
    color: #EEEFF4;
}
.hero-rep-wrap-text{
    position: absolute;
    width: 51vw;
    height: 79vh;
    top: 57%;
    background-color: #FFFFFF;
    margin-left: 40.7rem;
}
.hero-rep-wrap-text hr{
    margin-left: 18%;
    margin-top: 20%;
    width: 4rem;
    height: 1px;
    background: #C8CCD8;
}
.hero-rep-wrap-text-top{
    height: 21vh;
    width: 33vw;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
    line-height: 150%;
    letter-spacing: -2px;
    color: #1B1D23;
    text-align: center;
    margin: 11.5% auto;
}
.hero-rep-wrap-text-top h2{
    padding-right: 0.7em;
}
.hero-rep-wrap-text-bottom{
    position: absolute;
    height: 15vh;
    width: 33vw;
    left: 0.22%;
    right: 0%;
    top: calc(50% - 100px/2 + 121.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #60636D;
    margin: 11.5% auto;
}

/* 1.2-----Heritage Section */
.heritage-section{
    width: 77vw;
    height: 87vh;
    margin-left: 12.4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10em;
}
.heritage-text{
    width: 33vw;
    height: 87vh;
}
.heritage-text hr{
    width: 4rem;
    height: 1px;
    background: #C8CCD8;
}
.heritage-text-top{
    height: 21vh;
    width: 30vw;
    font-size: 250%;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 150%;
    letter-spacing: -2px;
    color: #1B1D23;
    margin-top: 4rem;
    margin-bottom: 4.2rem;
}
.heritage-text-bottom{
    height: 46vh;
    width: 32.5vw;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375em;
    line-height: 25px;
    color: #60636D;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.heritage-image{
    width: 40vw;
    height: 87vh;
    background-color: #50484818;
    background-image: url(../assets/about/desktop/image-heritage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

/* 1.3-----Leaders Section */
.leaders-section{
    width: 77vw;
    height: 135vh;
    margin-left: 12.4%;
    margin-bottom: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leaders-title{
    height: 21vh;
    width: 25vw;
    font-size: 250%;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 150%;
    letter-spacing: -2px;
    color: #1B1D23;
    
}
.leaders-image{
    width: 52vw;
    height: 135vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8%;
}
.leaders-top-images{
    width: 52vw;
    height: 64vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leaders-text-image-wrapper{
    height: 64vh;
    width: 25vw;
}
.leaders-jake-image{
    height: 48vh;
    width: 25vw;
    background-color: #50484818;
    background-image: url(../assets/about/desktop/avatar-jake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.hover-jake{
    background-color: #00000062;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-left: 35%;
}
.hover-smith{
    background-color: #00000062;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-left: 35%;
}
.hover-jackson{
    background-color: #00000062;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-left: 35%;
}
.hover-maria{
    background-color: #00000062;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-left: 35%;
}

.hide{
    display: none;
}
.show{
    visibility: visible;
}

.linkedin{
    margin-right: 1em;
}

.leaders-Smith-image{
    height: 48vh;
    width: 25vw;
    background-color: #50484818;
    background-image: url(../assets/about/desktop/avatar-thompson.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.leaders-text-top{
    height: 5vh;
    width: 25vw;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 25px;
    color: #1B1D23;
    margin-top: 2em;
}
.leaders-text-bottom{
    height: 5vh;
    width: 25vw;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 25px;
    color: #1B1D23;
    mix-blend-mode: normal;
    opacity: 0.98;
}
.leaders-bottom-images{
    width: 52vw;
    height: 64vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leaders-Jackson-image{
    height: 48vh;
    width: 25vw;
    background-color: #50484818;
    background-image: url(../assets/about/desktop/avatar-jackson.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.leaders-Maria-image{
    height: 48vh;
    width: 25vw;
    background-color: #50484818;
    background-image: url(../assets/about/desktop/avatar-maria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}


.social-media{
    visibility: hidden;
}


@media screen and (max-width: 768px) {
    .about-us-banner{
        position: absolute;
        top: 39%;
        left: -18.5%;
        height: 4vh;
        width: 50vw;
        transform: rotate(90deg);
    }
    .about-us-banner p{
        text-transform: uppercase;
        letter-spacing: 15px;
        color: #C8CCD8;
        font-size: 14px;
        padding-left: 151px;
        padding-top: 4px;
        font-family: Spartan;
    }
    .about-us-banner hr{
        position: absolute;
        top: 10px;
        height: 1px;
        width: 7rem;
    }
    
    .hero-section{
        margin-top: 9.5em;
        width: 100%;
        height: 135vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10em;
    }

    .hero-image{
        position: absolute;
        width: 72vw;
        height: 135vh;
        background-color: #50484818;
        background-image: url(../assets/about/tablet/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
    }
    .hero-section-about{
        position: absolute;
        width: 54vw;
        height: 30vh;
        left: 31%;
        top: 74%;
        z-index: 50;
    }
    .hero-section-about h1{
        padding-top: 0.18em;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 7.5rem;
        line-height: 1em;
        text-align: right;
        letter-spacing: -5px;
        color: #EEEFF4;
    }
    .hero-rep-wrap-text{
        position: absolute;
        width: 77vw;
        height: 79vh;
        top: 91%;
        background-color: #FFFFFF;
        margin-left: 10rem;
    }
    .hero-rep-wrap-text hr{
        margin-left: 10%;
        margin-top: 14%;
        width: 4rem;
        height: 1px;
        background: #C8CCD8;
    }
    .hero-rep-wrap-text-top{
        height: 21vh;
        width: 60vw;
        margin-right: 2.5em;
    }
    .hero-rep-wrap-text-top h2{
        padding-right: 1.5em;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 100%;
        letter-spacing: -2px;
        color: #1B1D23;
        margin-top: 0.1%;
    }
    .hero-rep-wrap-text-bottom{
        position: absolute;
        height: 21vh;
        width: 60vw;
        top: 55%;
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #60636D;
        margin: 11.5% auto;
    }
    .heritage-section{
        width: 77vw;
        height: 87vh;
        margin-left: 12.4%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10em;
        
    }
    .heritage-text hr{
        width: 4rem;
        height: 1px;
        background-color: #C8CCD8;
    }
    .heritage-text-top{
        height: 21vh;
        width: 30vw;
        font-size: 250%;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: -2px;
        color: #1B1D23;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .heritage-text-bottom{
        height: 46vh;
        width: 75vw;
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9em;
        line-height: 25px;
        color: #60636D;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .heritage-image{
       display: none;
    }


    .leaders-section{
        width: 77vw;
        height: 185vh;
        margin-left: 12.4%;
        margin-bottom: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .leaders-title{
        height: 21vh;
        width: 30vw;
        font-size: 250%;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: -2px;
        color: #1B1D23;
    }
    .leaders-top-images{
        width: 77vw;
        height: 120vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50%;
        margin-left: -12.4rem;
    }
    .leaders-text-image-wrapper{
        height: 64vh;
        width: 37.5vw;
    }
    .leaders-jake-image{
        height: 55vh;
        width: 37.5vw;
    }
    
    .leaders-Smith-image{
        height: 55vh;
        width: 37.5vw;
    }
    .leaders-text-top{
        height: 5vh;
        width: 25vw;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 0.9rem;
        line-height: 25px;
        color: #1B1D23;
        margin-top: 1em;
    }
    .leaders-text-bottom{
        height: 5vh;
        width: 25vw;
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 25px;
        color: #1B1D23;
        mix-blend-mode: normal;
        opacity: 0.98;
    }
    .leaders-bottom-images{
        width: 77vw;
        height: 120vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 27%;
        margin-left: -12.4rem;
    }
    .leaders-Jackson-image{
        height: 55vh;
        width: 37.5vw;
    }
    
    .leaders-Maria-image{
        height: 55vh;
        width: 37.5vw;
    }
    .social-media{
        position: absolute;
        top: 446%;
        height: 112%;
        width: 55%;
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .first-column-social{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .second-column-social{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .left-socials{
        height: 50%;
        width: 23%;
        display: flex;
        justify-content: space-between;
    }
    
    .right-socials{
        height: 50%;
        width: 23%;
        display: flex;
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 375px) {
    .about-us-banner{
       visibility: hidden;
    }
    .hero-section{
        margin-top: 7em;
        width: 100%;
        height: 128vh;
    }

    .hero-image{
        visibility: visible;
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: #07060670;
        background-image: url(../assets/about/mobile/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
    }
    .hero-section-about{
       visibility: hidden;
    }
    .hero-section-about h1{
        visibility: hidden;
    }
    .hero-rep-wrap-text{
        position: absolute;
        width: 90%;
        height: 79vh;
        top: 65%;
        background-color: #FFFFFF;
        margin-left: -2.3rem;
    }
    .hero-rep-wrap-text hr{
        visibility: hidden;
    }
    .hero-rep-wrap-text-top{
        height: 21vh;
        width: 100%;
        margin-right: 2.5em;
    }
    .hero-rep-wrap-text-top h2{
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 2.26rem;
        line-height: 120%;
        letter-spacing: -2px;
        color: #1B1D23;
        margin-left: 2rem;
    }
    .hero-rep-wrap-text-bottom{
        position: absolute;
        height: 45%;
        width: 90%;
        top: 43%;
        margin-left: 10%;
    }
    .hero-rep-wrap-text-bottom p{
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9em;
        line-height: 25px;
        color: #60636D;
    }
    .heritage-section{
        width: 100%;
        height: 135vh;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10em;
        margin-top: -10em;
    }
    .heritage-text hr{
        width: 4rem;
        height: 1px;
        background-color: #C8CCD8;
        margin-left: 25%;
    }
    .heritage-text-top{
        height: 21vh;
        width: 170%;
        font-size: 2rem;
        line-height: 180%;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 1.6rem;
        letter-spacing: -2px;
        color: #1B1D23;
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-left: 25%;
    }
    .heritage-text-bottom{
        height: 94vh;
        width: 235%;
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 0.8em;
        line-height: 28px;
        color: #60636D;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 25%;
    }
    
    .heritage-image{
       display: none;
    }

    .leaders-section{
        width: 100%;
        height: 108rem;
        margin-left: 0em;
        margin-bottom: 10em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .leaders-title{
        height: 21vh;
        width: 60%;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 150%;
        letter-spacing: -2px;
        color: #1B1D23;
        margin-left: 1em;
    }
    .leaders-image{
        height: 98rem;
        width: 92%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .leaders-top-images{
        width: 100%;
        height: 47em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0em;
        margin-top: 0em;
    }
    .leaders-text-image-wrapper{
        height: 21.5rem;
        width: 100%;
    }
    .leaders-jake-image{
        height: 18rem;
        width: 100%;
    }
    
    .leaders-Smith-image{
        height: 18rem;
        width: 100%;
    }
    .leaders-text-top{
        height: 5vh;
        width: 100%;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 0.9rem;
        line-height: 25px;
        color: #1B1D23;
        margin-top: 1em;
    }
    .leaders-text-bottom{
        height: 5vh;
        width: 100%;
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 25px;
        color: #1B1D23;
        mix-blend-mode: normal;
        opacity: 0.98;
    }
    .leaders-bottom-images{
        width: 100%;
        height: 47em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0em;
        margin-top: 0em;
    }
    .leaders-Jackson-image{
        height: 18rem;
        width: 100%;
    }
    
    .leaders-Maria-image{
        height: 18rem;
        width: 100%;
    }
    .social-media{
        position: absolute;
        top: 446%;
        height: 40rem;
        width: 55%;
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid greenyellow;
    }
    .first-column-social{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .second-column-social{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .left-socials{
        height: 50%;
        width: 23%;
        display: flex;
        justify-content: space-between;
    }
    
    .right-socials{
        height: 50%;
        width: 23%;
        display: flex;
        justify-content: space-between;
    }

}

/* @media screen and (max-width: 280px){
    .hero-image{
        visibility: visible;
        position: absolute;
        width: 70%;
        height: 30%;
        background-color: #07060670;
        background-image: url(../assets/about/mobile/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
    }
    .hero-section-about{
       visibility: hidden;
    }
    .hero-section-about h1{
        visibility: hidden;
    }
    .hero-rep-wrap-text{
        position: absolute;
        width: 90%;
        height: 79vh;
        top: 65%;
        background-color: #FFFFFF;
        margin-left: -2.3rem;
    }
    .hero-rep-wrap-text hr{
        visibility: hidden;
    }
    .hero-rep-wrap-text-top{
        height: 21vh;
        width: 100%;
        margin-right: 2.5em;
    }
    .hero-rep-wrap-text-top h2{
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 2.26rem;
        line-height: 120%;
        letter-spacing: -2px;
        color: #1B1D23;
        margin-left: 2rem;
    }
    .hero-rep-wrap-text-bottom{
        position: absolute;
        height: 45%;
        width: 90%;
        top: 43%;
        margin-left: 10%;
    }
    .hero-rep-wrap-text-bottom p{
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9em;
        line-height: 25px;
        color: #60636D;
    }
    
} */