@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html, body {
    height: 100%;
    /* width: 100%; */
    display: block;
}

/* .page-container {
    min-height: 100%;
    padding-bottom: 200px;
} */

.contact-banner{
    position: absolute;
    top: 165px;
    left: -100px;
    height: 4vh;
    width: 26vw;
    transform: rotate(90deg);
}
.contact-banner p{
    text-transform: uppercase;
    letter-spacing: 15px;
    color: #C8CCD8;
    font-size: 14px;
    padding-left: 151px;
    padding-top: 4px;
    font-family: Spartan;
}
.contact-banner hr{
    position: absolute;
    top: 10px;
    height: 1px;
    width: 7rem;
}

.upper-section {
    max-width: 80%;
    margin: 9.5em auto; 
    min-height: 720px;
    display: flex;
    flex-direction: row;
    /* position: relative; */
} 

.image-hero-section {
    position: relative;
    height: 720px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
.image-hero {
    /* left: 165px;
    top: 152px;
    bottom: auto; */
    background-image: url("../assets/contact/desktop/image-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 720px;
    z-index: 0;
}

.section-text {
    position: absolute;
    width: 60vw;
    height: 720px;
    right: 9%;
    /* left: 32%; */
    /* bottom: 0px; */
    /* top: 25%; */
    /* background: #FFFFFF;  */
    z-index: 1;
}

.contact-header {
    position: absolute;
    width: 47vw;
    top: 15%;
    z-index: 2;
}

.contact-header h1 {
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 12.5rem;
    line-height: 200px;
    text-align: right;
    letter-spacing: -5px;
    color: #EEEFF4;
    
}

.project-text {
    position: absolute;
    width: 45vw;
    height: 70%;
    top: 30%;
    left: 25%;
    background-color: white;
}

.project-text-top {
    position: absolute;
    width: 40vw;
    height: 21vh;
    left: 20%;
    top: 50%;
} 

.project-text-top h2 {
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    color: #1B1D23;
}

.project-text-bottom {
    position: absolute;
    width: 33vw;
    /* height: 100px; */
    left: 20%;
    /* right: 20%; */
    top: 80%;
}

.project-text-bottom p {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #60636D;
    margin: 0;
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
    .contact-header h1 {
        font-size: 120px;
    }
}

@media only screen and (max-width: 1250px) {
    nav {
        max-width: 100%;
    }

    .image-hero-section {
        width: 100%;
    }

    .image-hero {
        /* left: 165px;
        top: 152px;
        bottom: auto; */
        background-image: url("../assets/contact/tablet/image-hero.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 720px;
        z-index: 0;
    }

    /* .image-hero {
        width: 100%;
        height: 720px;
        position: absolute;
    } */

    .contact-header {
        top: 25%;
    }

    .contact-header h1 {
        font-size: 120px;
    }

    .section-text {
        width: 623px;
    }

    .project-text {
        width: 100%;
        height: 60%;
        top: 40%;
        left: unset;
        right: 0;
        bottom: 0;
        /* float: left; */
    }

    .project-text-top {
        position: absolute;
        width: 60%;
        /* height: 21vh;
        left: 20%; */
        top: 40%;
        right: unset;
        left: 20%;
        bottom: 0;
    } 

    .project-text-bottom {
        position: absolute;
        width: 60%;
        /* height: 100px; */
        left: 20%;
        right: unset;
        top: 70%;
        bottom: 0;
    }
}

.contact-details-container {
    /* position: absolute; */
    margin: 0px 9.5em;
    margin-bottom: 9.5em;
    width: 100%;
    max-width: 1110px;
    height: 212px;
    /* left: 165px; */
    /* top: 1050px; */
    font-family: 'Spartan';
    font-style: normal;
    color: #1B1D23;
    display: flex;
}

.contact-details-header {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-details-header h2 {
    width: 350px;
    height: 205px;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    margin-top: 0;
    text-align: left;
}

.contact-office {
    width: 60%;
    margin: auto;
    height: 205px;
    text-align: left;
}
.contact-office p:first-child {
    font-weight: bold;
    margin-bottom: 8px;
    height: 35px;
}

.contact-office p:nth-child(4) {
    margin-bottom: 35px;
}

.contact-office p {
    padding-bottom: 12px;
}
.contact-office a:first-child {
    height: 25px;
}

.contact-office a {
    text-decoration: none;
    color: #1B1D23;
    height: 25px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    display: flex;
    cursor: pointer;
}

.contact-office a img {
    margin-left: 20px;
    font-weight: normal;
    /* padding-top: 20px; */
}    

@media only screen and (max-width: 1200px) {
    .contact-details-container {
        display: block;
        width: 80%;
        height: auto;
    }

    .contact-details-header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contact-details-header h2 {
        width: 100%;
        height: 100%;
    }

    .contact-office {
        width: 100%;
        margin: 0;
        height: 205px;
        
        /* text-align: left; */
    }

    .contact-office a {
        position: relative;
        float: right;
        top: -50%;
        margin-right: 4.5rem;
    }
    .contact-office a img {
        display: none;
    }
}

.image-map-container {
    /* position: absolute; */
    width: 80vw;
    height: 631px;
    /* left: 165px; */
    /* right: 165px; */
    margin: 9.5em;
    right: unset;
}

#map {
    /* background-image: url("../assets/contact/desktop/image-map.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    width: 80vw;
    height: 631px;
    /* top: 1450px; */
}

.dark-blue {
    color: #1B1D23;
  }

.contact-form-container {
    /* position: absolute; */
    display: flex;
    /* top: 2172px; */
    margin-bottom: 9.5em;
    margin-left: 9.5em;
    margin-right: 9.5em;
    width: 100%;
    max-width: 1100px;
    height: 350px;
}

.form-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 310px;
    height: 300px;
}

.form-title h2 {
    width: 255px;
    height: 112px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    color: #1B1D23;
    margin: 0;
}

.contact-form {
    width: 730px;
    height: 350px;
    /* position: relative; */
}

#form {
    width: 730px;
    height: 350px;
}

.form-section {
    width: 100%;
    height: 47px;
    position: relative;
    /* overflow: hidden; */
    margin: 19px 0px;
}

.formMsg{
    margin-top: 70px;
}   

.form-section input {
    width: 100%;
    height: 100%;
    border: none;
    color: #1B1D23;
    outline: none;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.3125px;
}

.form-section label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #1B1D23;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.3125px;
    color: #C8CCD8;
}

.form-content {
    position: absolute;
    /* bottom: 10px; */
    left: 0px;
    transition: all 0.3s ease;
    color: #C8CCD8;
    font-size: 20px;
}

#submit-button {
    position: relative;
    width: 80px;
    height: 80px;
    left: 89%;
    /* top: 80%; */
    background: #1B1D23;
    cursor: pointer;
    border: none;
    margin-top: -18.6px;
}


/* Hover States */
#submit-button:hover {
    background: #60636D;
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 1200px) {
    .contact-form-container {
        /* position: absolute; */
        display: block;
        /* top: 2172px; */
        margin: 9.5em;
        width: 80%;
        height: 300px;
    }
    
    .form-title {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100px;
        /* height: 300px; */
    }
    
    .form-title h2 {
        width: 100%;
        height: 100px;
        font-family: "Spartan";
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2px;
        color: #1B1D23;
        margin: 0;
    }
    
    .contact-form {
        width: 90%;
        height: 356px;
        /* position: relative; */
    }

    #form {
        width: 90%;
        height: 356px;
    }

    #submit-button {
        position: relative;
        left: 90%;
        right: 10%;
        /* top: 80%; */
    }
}
 