@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: block;
}


.contact-banner{
    position: absolute;
    top: 165px;
    left: -100px;
    height: 4vh;
    width: 26vw;
    transform: rotate(90deg);
}
.contact-banner p{
    text-transform: uppercase;
    letter-spacing: 15px;
    color: #C8CCD8;
    font-size: 14px;
    padding-left: 151px;
    padding-top: 4px;
    font-family: Spartan;
}
.contact-banner hr{
    position: absolute;
    top: 10px;
    height: 1px;
    width: 7rem;
}

.upper-section {
    max-width: 80%;
    margin: 9.5em auto; 
    height: 720px;
    display: flex;
    flex-direction: row;
} 

.image-hero-section {
    position: relative;
    height: 720px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
.image-hero {
    background-image: url("../assets/contact/desktop/image-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 720px;
    z-index: 0;
}

.section-text {
    position: absolute;
    width: 60vw;
    height: 720px;
    right: 9%;
    z-index: 1;
}

.contact-header {
    position: absolute;
    width: 47vw;
    top: 15%;
    z-index: 2;
}

.contact-header h1 {
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 12.5rem;
    line-height: 200px;
    text-align: right;
    letter-spacing: -5px;
    color: #EEEFF4;
    
}

.project-text {
    position: absolute;
    width: 45vw;
    height: 70%;
    top: 30%;
    left: 25%;
    background-color: white;
}

.project-text-top {
    position: absolute;
    width: 40vw;
    height: 21vh;
    left: 20%;
    top: 50%;
} 

.project-text-top h2 {
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    color: #1B1D23;
}

.project-text-bottom {
    position: absolute;
    width: 33vw;
    left: 20%;
    top: 80%;
}

.project-text-bottom p {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #60636D;
    margin: 0;
}

/* Media Queries */
/* @media only screen and (max-width: 1100px) {
    .contact-header h1 {
        font-size: 120px;
    }
} */

@media only screen and (max-width: 1250px) {
    nav {
        max-width: 100%;
    }

    .image-hero-section {
        width: 100%;
    }

    .image-hero {
        background-image: url("../assets/contact/tablet/image-hero.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 720px;
        z-index: 0;
    }

    .contact-header {
        top: 25%;
    }

    .contact-header h1 {
        font-size: 120px;
    }

    .section-text {
        width: 623px;
    }

    .project-text {
        width: 100%;
        height: 60%;
        top: 40%;
        left: unset;
        right: 0;
        bottom: 0;
    }

    .project-text-top {
        position: absolute;
        width: 60%;
        top: 40%;
        right: unset;
        left: 20%;
        bottom: 0;
    } 

    .project-text-bottom {
        position: absolute;
        width: 60%;
        left: 20%;
        right: unset;
        top: 70%;
        bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .upper-section {
        /* width: 100%; */
        max-width: 100%;
        margin: 9.5rem 0;
        display: block;
        height: 550px;
    }

    .image-hero-section {
        height: 240px;
        width: 100%;
    }

    .image-hero {
        background-image: url("../assets/contact/mobile/image-hero.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 240px;
        z-index: 0;
    }

    .image-hero::after {
        content: '';
        width: 90.5%;
        height: 45px;
        position: absolute;
        background-color: white;
        z-index: 3;
        left: 0px;
        bottom: 0px;
    }

    .contact-header h1 {
        display: none;
    }

    .section-text {
        width: 95%;
        height: 150px;
        right: 0%;
        margin: 35px auto 0 auto;
        /* flex-direction: column;
        top: 240px; */
    }

    .project-text {
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        right: 0;
        bottom: 0;
    }

    .project-text-top {
        position: absolute;
        width: 311px;
        height: 96px;
        top: 0%;
        right: unset;
        left: 0%;
        bottom: 0;
    } 

    .project-text-top h2 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1px;
    }

    .project-text-bottom {
        position: absolute;
        width: 95%;
        left: 0%;
        right: unset;
        /* top: 0%; */
        bottom: 0;
    }
}

.contact-details-container {
    margin: 0px 9.5em;
    margin-bottom: 9.5em;
    width: 100%;
    max-width: 1110px;
    height: 212px;
    font-family: 'Spartan';
    font-style: normal;
    color: #1B1D23;
    display: flex;
}

.contact-details-header {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-details-header h2 {
    width: 350px;
    height: 205px;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    margin-top: 0;
    text-align: left;
}

.contact-office {
    width: 60%;
    margin: auto;
    height: 205px;
    text-align: left;
}
.contact-office p:first-child {
    font-weight: bold;
    margin-bottom: 8px;
    height: 35px;
}

.contact-office p:nth-child(4) {
    margin-bottom: 35px;
}

.contact-office p {
    padding-bottom: 12px;
}
.contact-office a:first-child {
    height: 25px;
}

.contact-office a {
    text-decoration: none;
    color: #1B1D23;
    height: 25px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    display: flex;
    cursor: pointer;
}

.contact-office a img {
    margin-left: 20px;
    font-weight: normal;
}    

@media only screen and (max-width: 1200px) {
    .contact-details-container {
        display: block;
        width: 80%;
        height: auto;
    }

    .contact-details-header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contact-details-header h2 {
        width: 100%;
        height: 100%;
    }

    .contact-office {
        width: 100%;
        margin: 0;
        height: 205px;
    }

    .contact-office a {
        position: relative;
        float: right;
        top: -50%;
        margin-right: 4.5rem;
    }

    .contact-office a img {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .contact-details-container {
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .contact-details-header {
        width: 50%;
        height: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 50px;
    }

    .contact-details-header h2 {
        width: 100%;
        height: 100%;
    }

    .contact-office {
        width: 100%;
        margin: 0;
        height: 205px;
    }

    #mainOffice {
        margin-bottom: 40px;
    }

    .contact-office a {
        position: relative;
        float: inherit;
        top: -10%;
        margin-right: 4.5rem; 
    }

    .contact-office a img {
        display: flex;
    }

}

.image-map-container {
    width: 80vw;
    height: 631px;
    margin: 9.5em;
    right: unset;
}

#map {
    width: 80vw;
    height: 631px;
}

@media only screen and (max-width: 640px) {
    
    .image-map-container {
        width: 100%;
        height: 390px;
        margin: 9.5em 0px;
        right: 0%;
        left: 0%;
    }
    
    #map {
        width: 100%;
        height: 390px;
    }
}

.dark-blue {
    color: #1B1D23;
  }

.contact-form-container {
    display: flex;
    margin-bottom: 9.5em;
    margin-left: 9.5em;
    margin-right: 9.5em;
    width: 100%;
    max-width: 1100px;
    height: 350px;
}

.form-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 310px;
    height: 300px;
}

.form-title h2 {
    width: 255px;
    height: 112px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    color: #1B1D23;
    margin: 0;
}

.contact-form {
    width: 730px;
    height: 350px;
}

#form {
    width: 730px;
    height: 350px;
}

.form-section {
    width: 100%;
    height: 47px;
    position: relative;
    margin: 19px 0px;
}

.formMsg{
    margin-top: 70px;
}   

.form-section input {
    width: 100%;
    height: 100%;
    border: none;
    color: #1B1D23;
    outline: none;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.3125px;
}

.form-section label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #1B1D23;
    font-family: "Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.3125px;
    color: #C8CCD8;
}

.form-content {
    position: absolute;
    left: 0px;
    transition: all 0.3s ease;
    color: #C8CCD8;
    font-size: 20px;
}
input::placeholder {
    color: #C8CCD8;
}
#submit-button {
    position: relative;
    width: 80px;
    height: 80px;
    left: 89%;
    background: #1B1D23;
    cursor: pointer;
    border: none;
    margin-top: -18.6px;
}


/* Hover States */
#submit-button:hover {
    background: #60636D;
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 1200px) {
    .contact-form-container {
        display: block;
        margin: 9.5em auto;
        width: 80%;
        height: 430px;
    }
    
    .form-title {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100px;
    }
    
    .form-title h2 {
        width: 100%;
        height: 100px;
        font-family: "Spartan";
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2px;
        color: #1B1D23;
        margin: 0;
    }
    
    .contact-form {
        width: 90%;
        height: 356px;
    }

    #form {
        width: 90%;
        height: 356px;
    }

    #submit-button {
        position: relative;
        left: 90%;
        right: 10%;
    }
}


@media only screen and (max-width: 640px) {
    .form-title {
        width: 255px;
    }
}