@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: Spartan;
}

html, body {
  height: 100%;
  display: block;
}


/* PORTFOLIO */
.portfolio-banner {
  position: absolute;
  top: 170px;
  left: -150px;
  height: 4vh;
  width: 30vw;
  transform: rotate(90deg);
}

.portfolio-banner p {
  letter-spacing: 15px;
  color: #C8CCD8;
  font-size: 14px;
  padding-left: 120px;
  padding-top: 1.5px;
  font-family: Spartan;
  font-weight: 500;
}

.portfolio-banner hr {
  position: absolute;
  top: 7px;
  height: 1px;
  width: 7rem;
}

  
.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 25px 25px; 
  grid-template-areas: 
  "Seraph Eebox Federal"
  "Del-Sol Prototype Tower228"
  "Edelweiss Netcry Hypers"
  "SXIV Trinity Paramour";
  width: 65em; 
  height: 145em;
  margin-top: 9em;
  margin-left: 9.8em;
  margin-bottom: 8em;
}
 
.Seraph {
  grid-area: Seraph; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-seraph.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.Seraph:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Eebox { 
  grid-area: Eebox;  
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-eebox.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    
}
.Eebox:hover {
  opacity: 0.7;
  filter: alpha(opacity=30);
  cursor: pointer;
}


.Federal { 
  grid-area: Federal;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-federal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Federal:hover{
  opacity: 0.7;
  filter: alpha(opacity=30);
  cursor: pointer;
}

.Del-Sol { 
  grid-area: Del-Sol;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-del-sol.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Del-Sol:hover{
  opacity: 0.7;
  filter: alpha(opacity=30);
  cursor: pointer;
}

.Prototype { 
  grid-area: Prototype;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-prototype.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Prototype:hover{
  opacity: 0.7;
  cursor: pointer;
}


.Tower228 { 
  grid-area: Tower228; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-228b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Tower228:hover{
  opacity: 0.7;
  filter: alpha(opacity=30);
  cursor: pointer;
}


.Edelweiss { 
  grid-area: Edelweiss ;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-edelweiss.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Edelweiss:hover {
  opacity: 0.7;
  cursor: pointer;
}


.Netcry { 
  grid-area:Netcry;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-netcry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Netcry:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Hypers { 
  grid-area: Hypers;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-hypers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.Hypers:hover { 
  opacity: 0.7;
  cursor: pointer;
}


.SXIV { 
  grid-area: SXIV ;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-sxiv.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
    }

.SXIV:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Trinity { 
  grid-area: Trinity;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-trinity.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
}

.Trinity:hover {
  opacity: 0.7;
  cursor: pointer;
}


.Paramour { 
  grid-area: Paramour;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/desktop/image-paramour.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
}

.Paramour:hover {
  opacity: 0.7;
  cursor: pointer;
}


.text {
  z-index: 10;
  width: 100%; 
  height: 40%;
  margin-top: 96.5%;
  color: aliceblue;
}   

h3 {
   margin-top: 490px;
   margin-left: 40px; 
   color: #FFFFFF;
   font-weight: bold;
   font-size: 18px;
}

p {
    margin-left: 40px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
}

/*Tablet Section*/
@media screen and (max-width: 768px){
  .portfolio-banner {
    position: absolute;
    top: 39%;
    left: -18.5%;
    height: 4vh;
    width: 50vw;
    transform: rotate(90deg);
  }
  
  .portfolio-banner p {
    letter-spacing: 15px;
    color: #C8CCD8;
    font-size: 14px;
    padding-left: 151px;
    padding-top: 4px;
    font-family: Spartan;
    font-weight: 500;
  }
  
  .portfolio-banner hr {
    position: absolute;
    top: 10px;
    height: 1px;
    width: 7rem;
  }
.container1 {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 14px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Seraph"
    "Eebox"
    "Federal"
    "Del-Sol"
    "Prototype"
    "Tower228"
    "Edelweiss"
    "Netcry"
    "Hypers"
    "SXIV"
    "Trinity"
    "pic12";
  width: 10em;
  height: 100em;
}

.Seraph { 
  grid-area:  Seraph; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-seraph.jpg');
  background-size: cover;
  background-repeat: no-repeat;   
  }

.Eebox { 
  grid-area: Eebox;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-eebox.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Federal { 
  grid-area:Federal; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-federal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Del-Sol { 
  grid-area: Del-Sol; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-del-sol.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Prototype { 
  grid-area: Prototype; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-prototype.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Tower228 { 
  grid-area: Tower228; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-228b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Edelweiss { 
  grid-area: Edelweiss; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-edelweiss.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Netcry { 
  grid-area: Netcry; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-netcry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Hypers { 
  grid-area: Hypers; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-hypers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.SXIV { 
  grid-area: SXIV; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-sxiv.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Trinity { 
  grid-area: Trinity; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-trinity.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Paramour { 
  grid-area: Paramour; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/tablet/image-paramour.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }
}

/*Mobile Section*/
@media screen and (max-width: 375px) {
  .portfolio-banner {
    /*position: absolute;
    top: 39%;
    left: -18.5%;
    height: 4vh;
    width: 50vw;
    transform: rotate(90deg);*/
    visibility: hidden;
  }
  
  .portfolio-banner p {
    letter-spacing: 15px;
    color: #C8CCD8;
    font-size: 14px;
    padding-left: 120px;
    padding-top: 1.5px;
    font-family: Spartan;
    font-weight: 500;
  }
  
  .portfolio-banner hr {
    position: absolute;
    top: 7px;
    height: 1px;
    width: 7rem;
  }
.container1 { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px 0px;
  grid-auto-flow: row;
    grid-template-areas:
      "Seraph"
      "Eebox"
      "Del-Sol"
      "Federal"
      "Prototype"
      "Tower228"
      "Edelweiss"
      "Netcry"
      "Hypers"
      "SXIV"
      "Trinity"
      "Paramour";
  width: 20%;
  height: 10%;
}

.Seraph { 
  grid-area: Seraph; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-seraph.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Eebox { 
  grid-area: Eebox;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-eebox.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Federal { 
  grid-area: Federal; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-federal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Del-Sol {
  grid-area: Del-Sol; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-del-sol.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Prototype { 
  grid-area: Prototype; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-prototype.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Tower228 { 
  grid-area:Tower228; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-228b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Edelweiss { 
  grid-area: Edelweiss; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-edelweiss.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Netcry { 
  grid-area: Netcry; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-netcry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Hypers { 
  grid-area: Hypers; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-hypers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.SXIV { 
  grid-area: SXIV; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-sxiv.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Trinity { 
  grid-area: Trinity; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-trinity.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

.Paramour { 
  grid-area: Paramour; 
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.0001) 60%, rgba(0,0,0, 0.499044)), url('../assets/portfolio/mobile/image-paramour.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }
}

