@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


*{
    padding: 0;
    margin: 0;
    font-family: Spartan, sans-serif;
}

/*Navigation*/
.logo {
    position: absolute;
    width: 96.16px;
    height: 40px;
    left: 164px;
    top: 56px;
}

.nav-links {
    position: absolute;
    left: 24%;
    top: 70px;
    
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links a {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #7D828F;
    text-decoration: none;
}

/*.homebanner{
    width: 100px;
    height: 104px;
    border: 1px solid #1B1D23;
    position: absolute;
    
}*/

.homebanner hr{
    width: 1px;
    height: 104px;
    left: 77px;
    position: absolute;
}

.homebanner p{
    width: 98px;
    height: 25px;
    left: 25px;
    top: 250px;
    position: absolute;
    transform: rotate(90deg);
    letter-spacing: 50px;
    color: #7D828F;
}


.img-slider{
    position: absolute;
    width: 1110px;
    height: 720px;
    margin-top: 152px;
    margin-left: 162px;
    margin-bottom: 28px;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    
    
}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    
    
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;

    
    
}

.img-slider .slide .info{
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(0, 0, 0, 0.01);
    width: 75%;
    height: 75%;
    
}

.img-slider .slide .info h2{
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 80px;
    width: 70%;
}

.img-slider .slide .info p{
    color: #fff;
    font-size: 16px;
    width: 60%;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 4px;
}

.img-slider .slide .info a{
    background: #1d1c1c;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    width: 60px;
    height: 60px;
    padding: 20px 30px;
}


.img-slider .slide .info img{
    width: 30px;
    margin-left:  20px;
    margin-bottom: -5px;
}

.img-slider .slide .info a:hover{
    background-color: #7D828F;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 5%;
    top: 90%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background: rgba(255, 255, 255, 1);
    width: 80px;
    height: 80px;
    cursor: pointer;
}



.img-slider .navigation .btn p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    color: #1d1c1c;
    font-weight: 700;
}

.img-slider .navigation .btn p:hover{
    color: #fff;
}

.img-slider .navigation .btn p:active{
    color: #fff;
}

.img-slider .navigation .btn:hover{
    background-color: #424141;
    color: #fff;
}

.img-slider .navigation .btn:active{
    background-color: #1d1c1c;
}



/*Welcome*/
.welcome{
    position: absolute;
    width: 80%;
    height: 1022px;
    left: 333px;
    top: 612px;
}

.welcome img{
    position: absolute;
    top: 454px;
    left: 592px;
}

.welcome .info h3{
    position: absolute;
    top: 529px;
    left: 21px;
    width: 446px;
    height: 112px;
    font-size: 56px;
    letter-spacing: -2px;
    line-height: 56px;
}

.welcome .info p{
    position: absolute;
    top: 750px;
    width: 445px;
    height: 325px;
    left: 21px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #7D828F;
}


.welcome_1{
    position: absolute;
    top: 967px;
    left: 165px;
    width: 968px;
    height: 200px;
}

.welcome_1 h2{
    font-size: 200px;
    letter-spacing: -5px;
    color: #EEEFF4;
}

/*Small Team*/

.smallideas img{
    position: absolute;
    width: 80%;
    left: 165px;
    top: 1835px;
}

.smallideas .info{
    position: absolute;
    top:2003px;
    left: 355px;
    width: 35%;
    height: 50%;
    
}

.smallideas .info h2{
    font-size: 60px;
    font-weight: 700;
    width: 100%;
    line-height: 120%;
    color: #fff;
    padding-bottom: 40px;
}

.smallideas .info a{
    background: #1B1D23;
    color: #fff;
    text-decoration: none;
    width: 60px;
    height: 60px;
    padding: 20px;
    padding-right: 60px;
}

.smallideas .info img{
    width: 30px;
    margin-left: -60px;
    margin-top: -1656px;
}

.smallideas .info a:hover{
    background: #7D828F;
}


/*Featured*/
.featured{
    position: absolute;
    left: 165px;
    top: 2595px;
    width: 1110px;
    height: 72px;
}

.featured h2{
    position: absolute;
    top: 8px;
    left: 0%;
    width: 446px;
    height: 56px;
    font-size: 56px;
    letter-spacing: -2px;
    font-weight: 700;
}

.featured a{
    position: absolute;
    top: 0%;
    left: 84.77%;
    width: 169px;
    height: 70px;
    background: #1B1D23;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured img{
    position: absolute;
    left: 80%;
}


.featured a:hover{
    background: #7D828F;
}



.images{
    width: 1110px;
    height: 560px;
    position: absolute;
    top: 2731px;
    left: 165px;
}

.images .prototype{
    position: absolute;
    width: 500px;
    height: 750px;
    top: -34.93%;
    left: 610px;
    right: 165px;
}

.images .prototype img{
    position: absolute;
    width: 350px;
    height: 560px;
    left: 150px;
    top: 196px;
}

.images .prototype .info{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 150px;
    top: 470px;
    
}

.images .prototype .info p{
    position: absolute;
    top: 193px;
    left: 40px;
    width: 125px;
    height: 25px;
    color: #EEEFF4;
    font-weight: 500;
}

.images .prototype .info a{
    position: absolute;
    top: 223px;
    left: 40px;
    color: #fff;
    font-weight: 500;
}

.images .prototype .number{
    position: absolute;
    width: 135px;
    height: 200px;
    top: 222px;
    left: 381px;
}

.images .prototype .number p{
    position: absolute;
    font-size: 200px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.39);
}

.images .tower{
    position: absolute;
    width: 920px;
    height: 626px;
    top: -11.79%;
    left: 180%px;
    right: 155px;
}

.images .tower img{
    position: absolute;
    width: 350px;
    height: 560px;
    left: 350px;
    top: 66px;
}

.images .tower .info{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 310px;
    top: 346px;
    
}

.images .tower .info p{
    position: absolute;
    top: 186px;
    left: 80px;
    width: 125px;
    height: 25px;
    color: #EEEFF4;
    font-weight: 500;
}

.images .tower .info a{
    position: absolute;
    top: 215px;
    left: 80px;
    color: #fff;
    font-weight: 500;
}

.images .tower .number{
    position: absolute;
    width: 135px;
    height: 200px;
    top: 98px;
    left: 571px;
}

.images .tower .number p{
    position: absolute;
    font-size: 200px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.39);
}


.images .project{
    position: absolute;
    width: 840px;
    height: 560px;
    top: 0%;
    left: -140%px;
    right: 760px;
    
}

.images .project img{
    position: absolute;
    width: 350px;
    height: 560px;
    left: 490px;
    top: 0px;
    background-color: rgba(16, 74, 180, 0.603);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: overlay;
    
}

.images .project .info{
    position: absolute;
    width: 350px;
    height: 560px;
    left: 490px;
    top: 0px;
    background-color: rgba(16, 73, 180, 0.301);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: overlay;
}

.images .project .info p{
    position: absolute;
    top: 463px;
    left: 40px;
    width: 125px;
    height: 25px;
    color: #EEEFF4;
    font-weight: 500;
}

.images .project .info a{
    position: absolute;
    top: 494px;
    left: 40px;
    color: #fff;
    font-weight: 500;
}

.images .project .number{
    position: absolute;
    width: 135px;
    height: 200px;
    top: 25px;
    left: 750px;
}

.images .project .number p{
    position: absolute;
    font-size: 200px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.39);
}

/*Footer*/
footer {
    position: absolute;
    /* bottom: 0; */
    display: flex;
    /*top: 3491px;*/
}
.footer-logo {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 165px;
    /* bottom: 0px; */
    background: #1B1D23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 96.16px;
    height: 40px;
    
}

.footer-nav {
    position: absolute;
    width: 684px;
    height: 200px;
    left: 365px;
    top: 0;
    /* bottom: 0px; */
    background: #EEEFF4;
    display: flex;
    align-items: center;
}

.footer-nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.footer-nav-links a {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #7D828F;
    text-decoration: none;
}    

.button-link {
    position: absolute;
    width: 252px;
    height: 72px;
    left: 923px;
    top: 65px;
    bottom: 60px;
    background: #1B1D23;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
}

.button-link img {
    margin-left: 20px;
}

.button-link:hover{
    background-color: #7D828F
}


/*@media(max-width: 768px){
    .logo{
        width: 96.16px;
        height: 40px;
        left: 150px;
        top: 56px;
    }

    .nav-links{
        width: 400px;
        height: 25px;
        left: 272px;
    }

    .homebanner p{
        width: 98px;
        height: 25px;
        left: 39px;
    }

    .homebanner{
        width: 1px;
        height: 104px;
        left: 13px;
    }

    .slide{
        width: 573px;
        height: 720px;
        top: -20px;
        left: -10px;
    }

    .slide_1 h3{
        width: 457px;
        height: 160px;
        left: -75px;
        top: -10px;
    }

    .slide_note{
        width: 457px;
        height: 75px;
    }

    .slide_note p{
        width: 475px;
        height: 75px;
        left: -75px;
    }

    .profile_note{
        width: 252px;
        height: 72px;
        left: -75px;
        top: 10px;
    }

    .rectangle{
        visibility: hidden;

    }

    .welcome_1 h1{
        width: 581px;
        height: 200px;
        font-size: 120px;
        top: 850px;
    }

    .welcome{
        visibility: hidden;
    }

    .welcome_note{
        width: 572px;
        height: 275px;
        
    }

    .welcome_note h3{
        width: 446px;
        height: 112px;
        left: 160px;
        top: 1100px;
    }

    .welcome_statement{
        width: 572px;
        height: 275px;
        left: 160px;
        top: 1300px;
    }

    .welcome_statement p{
        left: 160px;
        font-size: 15px;
        
    }

    .smallteam{
        width: 563px;
        height: 560px;
        top: 1680px;
    }

    .smallteam_1{
        width: 445px;
        height: 152px;

    }

    .smallteam_1 h3{
        font-size: 56px;
        left: 97px;
    }

    .aboutus_note{
        width: 187px;
        height: 72px;
        left: -90px;
        top: 0px;
    }

    .featured_1{
        width: 263px;
        height: 56px;
        font-size: 56px;
        
    }

    .featured_1 h2{
        font-size: 56px;
        top: 2350px;
    }

    .featured_note{
        width: 169px;
        height: 72px;
        left: 570px;
        top: 2380px;
    }

    .images{
        width: 573px;
    }

    .projectdelsol{
        width: 573px;
        height: 240px;
        top: -200px
    }

    .projectdelsol p{
        width: 84px;
        height: 200px;
        font-size: 200px;
        left: 400px;
    }

    .BTower{
        top: 70px;
        height: 240px;
        width: 573px;
        left: 0px;
        background-repeat: no-repeat;

    }

    .leProtoype{
        width: 573px;
        height: 200px;
        left: 0px;
        top: 340px;
    }

    .footer-logo{
        width: 120px;
        height: 120px;
        left: 0px;
    }

    .footer-nav{
        width: 560px;
        height: 120px;
        left: 120px;
    }

    .button-link{
        width: 252px;
        height: 72px;
        left: 560px;
        top: 3520px;
    }
}